
body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
    padding-top: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  
  .btn {
    margin: 8px;
  }
  
  .custom-nav{
    border-right: solid;
    margin: 1em;
  }
  
  .img-container{
    height: 199px;
    width: 616px;
    padding: 2em;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .main-section {
    overflow-y: scroll; 
    height: 100%;
  }

  .projects-section {
    background: rgba(0, 0, 0, 0.08)
  }
  .buttons-section {
    background: rgba(233, 145, 145, 0.08)

  }

  .cover-image {
    width: 40%;
  }


  .project-container {
    opacity: 0.5;
    transition: opacity 333ms ease; 
  }
  .project-container.active {
    opacity: 1;
  }

  .project-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    opacity: 0;
    pointer-events: none;
    background: white;
    transition: opacity 333ms ease; 
    display: flex;
  }
  .project-detail.active {
    opacity: 1;
    z-index: 10;
    pointer-events: all;
  }

  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }